@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background: #b92b27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.wrapper{
    margin: 245px auto;
    max-width: 400px;
    width: 100%;
    background: #b92b27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 5px;
    border: white solid 0.5px;
    padding: 25px;
}
.wrapper .header{
    font-size: 30px;
    font-weight: 600;
}
.wrapper .input{
    display: flex;
    height: 45px;
    margin: 20px 0;
    width: 100%;
}
.input input{
    outline: none;
    width: 85%;
    height: 100%;
    border: 1px solid #ccc(255, 141, 141);
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;
}
.input button{
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background: fff;
    color: #000;
    font-size: 22px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    opacity: 0.6;
    pointer-events: none;
}
.input button.active{
    opacity: 1;
    pointer-events: auto;
}
.wrapper .todo{
max-height: 250px;
overflow-y: auto;
}
.todo li{
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}
.todo li span{
    position: absolute;
    right: -58px;
    color: rgb(0, 0, 0);
    width: 58px;
    top: 0px;
    bottom: 0px;
    text-align: center;
    background: #b92b27;
    border-radius: 0 3px 3px 0px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.todo li:hover span{
    right: 0px;
}
.wrapper .footer{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}
.footer button{
    border-radius: 3px;
    border: none;
    outline: none;
    background: fff;
    color: #000;
    font-size: 15px;
    cursor: pointer;
    padding: 6px 10px;
    opacity: 0.6;
    pointer-events: none;
}
.footer button.active{
    opacity: 1;
    pointer-events: auto;
}

/*box animation*/
.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255, 255, 255, 0.8);
    
}
.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(2){
    top: 92%;
    left: 50%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(3){
    top: 17%;
    left: 20%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(5){
    top: 56%;
    left: 15%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(6){
    top: 90%;
    left: 75%;
    animation: animate 12s linear infinite;
}
.box div:nth-child(7){
    top: 70%;
    left: 90%;
    animation: animate 15s linear infinite;
}
.box div:nth-child(8){
    top: 5%;
    left: 5%;
    animation: animate 16s linear infinite;
}
.box div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(10){
    top: 40%;
    left: 80%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(11){
    top: 90%;
    left: 5%;
    animation: animate 5s linear infinite;
}
.box div:nth-child(12){
    top: 12%;
    left: 85%;
    animation: animate 11s linear infinite;
}


@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

/*@media only screen and(max-width:700px){
    .wrapper{
        max-width: 200px;
    }
}*/




    



